h2 {
  font-size: 48px;
  margin-bottom: 24px;
}
.category_list_container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 30px;
  max-width: 900px;
  margin-top: 40px;
}
.category_list_container a {
  background: #9c9c9c;
  color: #fff;
  text-decoration: none;
  padding: 28px 20px;
  border-radius: 6px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.category_list_container a:hover {
  background: #7f7f7f;
}
