* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: #111;
  background: #fff;
}
header {
  max-width: 1100px;
  margin: 40px autp 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 48px;
  font-weight: 700;
}
nav a {
  margin-left: 16px;
  color: #111;
  text-decoration: underline;
  font-size: 16px;
}
main {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}
footer {
  max-width: 1100px;
  margin: 60px auto 40px;
  padding: 0 20px;
  text-align: left;
}
